*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/Back-end/imgs/loginEtud.jpg);
    background-size:cover ;
    position: relative;
}

header h1 {
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 50px;
    margin: 50px;

}

section{
    border-radius: 20px;
    padding: 100px 10px;
    position: absolute;
    left: 120vh;
    top: 12vh;
    background-color: rgba(240, 248, 255, 0.292);
    /* background: linear-gradient(to bottom, #ffcc99 0%, #ffffcc 100%); */
}
section p{
    text-align: center;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif ;
}
table input{
    margin: 10px;
    width: 55vh;
    height: 40px;
    padding-left: 30px;
    border: none;

}

table #submit{
    width:390px;
    border-radius: 20px;
    background-color: rgb(74, 171, 255);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}